In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("data.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [4]:
data=df.to_dict(orient="records")

In [5]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://emazhar:emazhar@mlops-proj.u0vso5a.mongodb.net/?retryWrites=true&w=majority&appName=mlops-proj"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [ ]:
# Push data to MongoDB collection
db = client['vip-db']  # Replace with your database name
collection = db['vip']  # Replace with your collection name
result = collection.insert_many(data)
print(f"Inserted {len(result.inserted_ids)} documents into MongoDB.")

Inserted 381109 documents into MongoDB.

: